{% extends "::base.html.twig" %}

{% block title %}AppBundle:StressLog:show{% endblock %}

{% block body %}
    <h1>Stress log entry</h1>

    <div>
        Local time:
        {{ log.localtime|date("F j, Y H:i T (O)", false) }}
    </div>

    <div>
        Level:
        {{ log.level }}
    </div>

    <div>
        Factors:
        {{ log.manifestationString }}
    </div>

    <div>
        Notes:
        {{ log.notes }}
    </div>

    <a href="{{ path('editLog', {'id': log.id}) }}">
        Edit
    </a>
{% endblock %}
